<!-- backend/views/cadastrarClube.handlebars -->
<h1>Cadastrar Clube</h1>
<form action="/api/clubes/cadastrar" method="POST">
    <label for="razaoSocial">Razão Social:</label>
    <input type="text" name="razaoSocial" required><br>

    <label for="nomeFantasia">Nome Fantasia:</label>
    <input type="text" name="nomeFantasia" required><br>

    <label for="sigla">Sigla:</label>
    <input type="text" name="sigla" required><br>

    <label for="cnpj">CNPJ:</label>
    <input type="text" name="cnpj" required><br>

    <label for="presidente">Presidente:</label>
    <input type="text" name="presidente" required><br>

    <label for="codFederacao">Federação:</label>
    <select name="codFederacao" required>
        {{#each federacoes}}
            <option value="{{this.codFederacao}}">{{this.nomeFantasia}}</option>
        {{/each}}
    </select><br>

    <h2>Dados de Acesso</h2>
    <label for="email">Email:</label>
    <input type="email" name="email" required><br>

    <label for="senha">Senha:</label>
    <input type="password" name="senha" required><br>

    <button type="submit">Cadastrar Clube</button>
</form>
