<form action="/api/federacoes/adicionar" method="POST">
    <h2>Cadastrar Federação</h2>
    
    <label>Razão Social:</label>
    <input type="text" name="federacaoData.razaoSocial" required><br>

    <label>Nome Fantasia:</label>
    <input type="text" name="federacaoData.nomeFantasia" required><br>

    <label>Sigla:</label>
    <input type="text" name="federacaoData.sigla" required><br>

    <label>CNPJ:</label>
    <input type="text" name="federacaoData.cnpj" required><br>

    <label>Presidente:</label>
    <input type="text" name="federacaoData.presidente" required><br>

    <h3>Endereço</h3>

    <label>CEP:</label>
    <input type="text" name="enderecoData.cep" required><br>

    <label>Endereço:</label>
    <input type="text" name="enderecoData.enderecoSede" required><br>
    
    <label>Cidade:</label>
    <input type="text" name="enderecoData.cidade" required><br>
    
    <label>Estado:</label>
    <input type="text" name="enderecoData.estado" required><br>

    <label>Pais:</label>
    <input type="text" name="enderecoData.pais" required><br>
    
    <h3>Contato</h3>
    <label>Telefone:</label>
    <input type="text" name="contatoData.telefone" required><br>

    <label>Email:</label>
    <input type="email" name="contatoData.email" required><br>

    <label>Facebook:</label>
    <input type="url" name="contatoData.facebook" required><br>

    <label>Instagram:</label>
    <input type="url" name="contatoData.instagram" required><br>
    
    <button type="submit">Cadastrar</button>
</form>
