<!-- backend/src/views/lista-federacoes.handlebars -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Federações</title>
</head>
<body>
    <h1>Federações Cadastradas</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each federacoes}}
            <tr>
                <td>{{this.codFederacao}}</td>
                <td>{{this.nome}}</td>
                <td>
                    <a href="/federacoes/{{this.codFederacao}}">Consultar</a>
                    <a href="/federacoes/editar/{{this.codFederacao}}">Editar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
