<h1>Cadastrar Federacao</h1>
<form action="/add-federacao" method="POST">
    <label>Razão Social</label>
    <input type="text" name="razaoSocial"><br><br>
    
    <label></label>
    <label>Nome Fantasia</label>
    <input type="text" name="nomeFantasia"><br><br>

    <label>Sigla</label>
    <input type="text" name="sigla"><br><br>

    <label>CNPJ</label>
    <input type="text" name="cnpj"><br><br>
    
    <label>Presidente</label>
    <input type="text" name="presidente"><br><br>

    <button type="submit">Cadastrar</button>
</form>