/*----------------------------------------------------------*/
/* Links do Cabeçalho */
/*----------------------------------------------------------*/
.other {
    font-family: 'Muli';
    font-size: 16px;
    color: #dbd9d9;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; 
    text-align: center;
    margin-left: 15px;
  }
  .other:hover {
    color: #808080;
  
  }
  .login {
    background-color: #666666;
    font-family: 'Muli';
    font-size: 13px;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 60px;
    transition: background-color 0.3s, color 0.3s;
    width: 120px; /* Definindo a largura do botão */
    height: 30px; /* Definindo a altura do botão */
    display: inline-block; /* Para garantir que o link se comporte como um botão */
    text-align: center; /* Centraliza o texto dentro do botão */
    line-height: 6px; /* Alinha verticalmente o texto dentro do botão */
    margin-right: 30px;
    margin-left: 5px;
  }
  .login:hover {
    background-color: #fff;
    color: #333;
  }
  .register {
    font-family: 'Muli';
    font-size: 13px;
    color: white;
    padding: 12px;
    border: 1px solid #666666;
    border-radius: 60px;
    transition: background-color 0.3s, color 0.3s;
    width: 120px; /* Definindo a largura do botão */
    height: 30px; /* Definindo a altura do botão */
    display: inline-block; /* Para garantir que o link se comporte como um botão */
    text-align: center; /* Centraliza o texto dentro do botão */
    line-height: 6px; /* Alinha verticalmente o texto dentro do botão */
    margin-left: 30px;
  }
  .register:hover {
    background-color: #fff;
    color: #333;
  }
  
  /*----------------------------------------------------------*/
  /* Cabeçalho */
  /*----------------------------------------------------------*/
  header {
    padding: 15px 30px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    background-color: #333; /* Adicione um fundo para o cabeçalho */
  }
  header.hidden {
    top: -100px;
  }
  header .logo img {
    z-index: 1100;
    width: 50px;
  }
  header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
  }

/*----------------------------------------------------------*/
/* Botão de alternância do cabeçalho */
/*----------------------------------------------------------*/
button#toggle-header {
    color: #fff;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 13px;
    right: 10px;
    z-index: 1100; /* Certifique-se de que o botão esteja acima do cabeçalho */
    transform: rotate(-90deg);
  }
  button#toggle-header.rotated {
    transform: rotate(0deg);
  }

/*----------------------------------------------------------*/
/* Container do menu */
/*----------------------------------------------------------*/
.menu-item {
  position: relative;
  display: inline-block;
}

/* Layout do pop-up */
.popup-menu {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: #555;
  border: 1px solid #777;
  min-width: 240px;  /* Aumentando a largura para mais espaço */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 0;  /* Aumentando o padding para mais espaço vazio no pop-up */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Criando a seta como parte da "caixa de diálogo" */
.popup-menu::before {
  content: "▼";
  border-top: 20px solid #555;
  border-bottom: 50px solid transparent;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

/* Itens do pop-up */
.popup-menu a {
  color: #dbd9d9;
  font-family: 'Muli';
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  transition: background 0.3s, padding-left 0.3s;
  text-align: left;  /* Alinha o texto à esquerda dentro do bloco */
  width: 90%;  /* Garante que o link ocupe toda a largura disponível do pop-up */
  border-bottom: 1px solid #777;
}

/* Remover a borda do último item */
.popup-menu a:last-child {
  border-bottom: none;  /* Remove a linha no último item */
}

/* Efeito ao passar o mouse */
.popup-menu a:hover {
  background-color: #555;
  color: #9b9b9b;
  padding-left: 18px;
}

/* Exibir pop-up ao passar o mouse no botão ou nele mesmo */
.menu-item:hover .popup-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

