/* Estilo Geral */
body {
  margin: 0;
  font-family: 'Muli';
  background-color: #f8f8f8;
}

/* Links do Cabeçalho */
.other {
  font-family: 'Muli';
  font-size: 16px;
  color: #dbd9d9;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block; 
  text-align: center;
  margin-left: 15px;
}
.other:hover {
  color: #808080;

}
.login {
  background-color: #666666;
  font-family: 'Muli';
  font-size: 13px;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 60px;
  transition: background-color 0.3s, color 0.3s;
  width: 120px; /* Definindo a largura do botão */
  height: 30px; /* Definindo a altura do botão */
  display: inline-block; /* Para garantir que o link se comporte como um botão */
  text-align: center; /* Centraliza o texto dentro do botão */
  line-height: 6px; /* Alinha verticalmente o texto dentro do botão */
  margin-right: 30px;
  margin-left: 5px;
}
.login:hover {
  background-color: #fff;
  color: #333;
}
.register {
  font-family: 'Muli';
  font-size: 13px;
  color: white;
  padding: 12px;
  border: 1px solid #666666;
  border-radius: 60px;
  transition: background-color 0.3s, color 0.3s;
  width: 120px; /* Definindo a largura do botão */
  height: 30px; /* Definindo a altura do botão */
  display: inline-block; /* Para garantir que o link se comporte como um botão */
  text-align: center; /* Centraliza o texto dentro do botão */
  line-height: 6px; /* Alinha verticalmente o texto dentro do botão */
  margin-left: 30px;
}
.register:hover {
  background-color: #fff;
  color: #333;
}

/* Cabeçalho */
header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
  background-color: #333; /* Adicione um fundo para o cabeçalho */
}
header.hidden {
  top: -100px;
}
header .logo img {
  z-index: 1100;
  width: 50px;
}
header nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* Botão de alternância do cabeçalho */
button#toggle-header {
  color: #fff;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 13px;
  right: 10px;
  z-index: 1100; /* Certifique-se de que o botão esteja acima do cabeçalho */
  transform: rotate(-90deg);
}
button#toggle-header.rotated {
  transform: rotate(0deg);
}

/* Banner Principal */
.highlight {
  position: relative;
  text-align: center;
  color: #f8f8f8;
  height: 100vh; /* Define a altura da seção como 100% da altura da viewport */
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  justify-content: flex-end; /* Alinha o conteúdo ao final da seção */
}
.highlight-image img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Faz com que a imagem cubra a área da seção */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.highlight-logo img{
  position: absolute;
  margin-top: 11.5px;
  left: 21px;
  max-height: 45px;
}
.highlight-content {
  padding: 10px;
  overflow: auto;
  margin-top: auto;
  margin-left: 40px;
  margin-bottom: 30px;
  border: 2px solid transparent; /* Borda padrão transparente */
}
.editable-title {
  padding: 10px;
  width: 680px;
  font-family: 'Muli';
  font-size: 26px;
  word-wrap: break-word;
  overflow: hidden;
  text-align: left;
}
.editable-title.editable{
  border: 2px solid #292929;
  border-radius: 11px;
  
}
.editable-title:focus {
  border-color: #303030;
  outline: 0;
  box-shadow: 0 0 7px #868686;
}
.editable-subtitle {
  padding: 10px;
  width:680px;
  font-family: 'Muli';
  font-size: 16px;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify;
}
.editable-subtitle.editable{
  border: 2px solid #292929;
  border-radius: 11px;
}
.editable-subtitle:focus {
  outline: 2px solid #007bff;
}
.highlight-button {
  background-color: #292929;
  color: white;
  border: none;
  border-radius: 21px;
  padding: 12px;
  font-family: 'Muli';
  font-size: 14px;
  margin-top: 10px;
  width: 90px;
  cursor: pointer;
  text-align: center;
  float: left;
}
.highlight-button:hover {
  background-color: #646464;
}

/* Contêiner para Highlights e Próximos Eventos */
.calendar-container {
  display: flex;
  gap: 20px; /* Espaçamento entre as colunas */
  align-items: flex-start; /* Alinha os itens no topo */
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: auto; /* Limita a largura total */
}
/* Próximos Eventos */
.calendar {
  margin-left: 40px;
  margin-right: 70px;
  font-family: 'Muli';
  width: 50%;
  max-width: 800px;
}
.calendar h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}
.calendar-events {
  border-top: 1.5px solid #ddd;
}
.event {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1.5px solid #ddd;
}
.event-color {
  width: 5px;
  height: 40px;
  margin-bottom: 0px;
}
.event-color.blue {
  background-color: #0161B1;
}
.event-color.yellow {
  background-color: #FECA0A;
}
.event-color.green {
  background-color: #00A851;
}
.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  text-align: center;
  margin-right: 20px;
}
.event-date strong {
  font-size: 1rem;
  font-weight: bold;
}
.event-date span {
  font-size: 0.9rem;
  font-weight: bold;
  color: #777;
}
.event-info {
  flex: 1;
}
.event-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}
.event-location {
  font-size: 0.8rem;
  margin: 0;
  color: #777;
}
.event-arrow {
  font-size: 1.3rem;
  color: #999;
  margin-left: 5px;
  transform: translateY(2px);
}
/* Destaque do Calendário */
.calendar-highlight {
  width: 50%;
  height: 230px;
  margin-right: 40px;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 11px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.calendar-highlight h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}
.calendar-highlight-content {
  font-size: 15px;
  color: #646464;
  margin-right: 10px;
  text-align: justify ;
}
.highlight-button {
  font-family: 'Muli';
  font-size: 12px;
  background-color: #292929;
  color: white;
  border: none;
  border-radius: 21px;
  padding: 12px;
  font-family: 'Muli';
  font-size: 14px;
  margin-top: 10px;
  width: 180px;
  cursor: pointer;
  text-align: center;
  float: left;
}
.highlight-button:hover {
  background-color: #646464;
}

/* Próximos Jogos */
.next-games {
  margin: 2em 0;
  padding: 1em;
  background-color: #f8f8f8;
  border-radius: 8px;
}
.next-games h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
  text-align: center;
}
.next-games ul {
  list-style: none;
  padding: 0;
}
.next-games li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}
.game-info {
  flex: 1;
}
.game-info strong {
  font-size: 1.2em;
  display: block;
}
.game-info em {
  font-style: italic;
  color: #666;
}
.game-teams {
  display: flex;
  align-items: center;
  gap: 1em;
}
.team {
  text-align: center;
}
.team img.flag {
  width: 50px;
  height: auto;
}
.vs {
  font-size: 1.5em;
  font-weight: bold;
}
.game-action {
  margin-left: auto;
}
.game-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}
.game-button:hover {
  background-color: #0056b3;
}



/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer .social-icons img {
  width: 20px;
  height: 20px;
}